*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input:focus{
    border: none;
}
.App {
    background-color: #222;
    color: #eee;
    height: 100vh;
    width: 100%;
}

.header {
    text-align: center;
}